#choiceView{
	padding: 70px 120px;
	transition: 0.4s ease transform, 0.4s ease opacity;
}

#choiceView.gone{
	transform: translateX(-200px);
	opacity: 0;
}


#data-entry{
	margin-top: 40px;
	width: 50%;
}

#data-entry th{
	width: 120px;
}

#data-entry th:nth-child(2) {
	background: rgb(100, 150, 130);
	width: 70px;
	text-align: center;
}
#data-entry th:nth-child(3) {
	background: rgb(190, 186, 153);
	width: 70px;
	text-align: center;
}
#data-entry th:nth-child(4) {
	background: rgb(250, 190, 157);
	width: 70px;
	text-align: center;
}
#data-entry th:nth-child(5) {
	background: rgb(255, 138, 135);
	width: 70px;
	text-align: center;
}
#data-entry th:nth-child(6) {
	background: rgb(255, 50, 78);
	width: 70px;
	text-align: center;
}



#mapView{
	display: none;
}

#sideContainer{
	position: absolute;
	top: 3%;
	right: 30px;
	width: 300px;
	padding: 10px;
	background-color: lightgray;
	margin-bottom: 50px;
}

#sideContainer > ul{
	list-style-type: none;
	padding-left: 0;
}

#sideContainer .scoreBox{
	background-color: gray;
	height: 40px;
	margin: 10px 10px 20px 10px;
	right: 0px;
	position: relative;
	width: 70%;
	display: inline-block;
}

.team-icon{
	width: 50px;
	height: 50px;
	display: inline-block;
	margin-top: -25px;
}

.lighter{
	opacity: 0.5;
}

#sideContainer .scoreValue{
	background-color: lightseagreen;
	width: 1%;
	height: 100%;
	display: inline-block;
	transition: 0.2s ease width;
}

#infobox{
	background-color: lightgray;
	position: fixed;
	right: 380px;
	top: 3%;
	padding: 0px 150px 0px 30px;
	border-radius: 8px;
	opacity: 0.92;
}
#infobox:after{
	content: '';
	background-color: lightgray;
	width: 30px;
	height: 30px;
	position: absolute;
	z-index: -1;
	right: -10px;
	margin-top: -120px;
	transform: rotateZ(45deg);
}

#league-icon{
	width: 130px;
	position: absolute;
	top: 60px;
	right: 20px;
}

#city-name{
	margin-top: 0px;
}

.sidenote{
	font-size: 12px;
	width: 75%;
	position: relative;
	color: dimgray;
	display: inline-block;
	float: right;
}


#title{
	padding-left: 50px;
}

#states path {
  fill: #BAD1FF;
  stroke: #fff;
}

circle {
  fill: #1947A3;
  fill-opacity: .8;
  stroke: #fff;
}

h1{
  color: #1947A3;
  font-family: 'Arial';
  margin-left: 220px;
}
